{{extend 'layout.html'}}

<body class="center" onload="draw()">
    <canvas id="window1" width="400" height="1000"></canvas>
    <canvas id="window2" width="75" height="1000"></canvas>
    <canvas id="window3" width="75" height="1000"></canvas>
    <canvas id="window4" width="75" height="1000"></canvas>
    <canvas id="window5" width="75" height="1000"></canvas>
    <canvas id="window6" width="75" height="1000"></canvas>
</body>

<script type="application/javascript">
    function draw() {
        let window = document.getElementById('window');
        if (window1.getContext) {
            ctx = window1.getContext('2d');


            // 1A
            ctx.clearRect(9, 0, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 0, 50, 25);
            ctx.strokeRect(10, 1, 50, 25);
            // 1B
            ctx.clearRect(9, 26, 52, 26);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 25, 50, 25);
            ctx.strokeRect(10, 26, 50, 25);
            // 1C
            ctx.clearRect(9, 51, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 51, 50, 25);
            ctx.strokeRect(10, 51, 50, 25);
            // 1D
            ctx.clearRect(9, 76, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 76, 50, 25);
            ctx.strokeRect(10, 76, 50, 25);
            // 1E
            ctx.clearRect(9, 101, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 101, 50, 25);
            ctx.strokeRect(10, 101, 50, 25);
            // 1F
            ctx.clearRect(9, 126, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 126, 50, 25);
            ctx.strokeRect(10, 126, 50, 25);

            // 2A
            ctx.clearRect(9, 169, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 171, 50, 25);
            ctx.strokeRect(10, 171, 50, 25);
            // 2B
            ctx.clearRect(9, 196, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 196, 50, 25);
            ctx.strokeRect(10, 196, 50, 25);
            // 2C
            ctx.clearRect(9, 221, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 221, 50, 25);
            ctx.strokeRect(10, 221, 50, 25);
            // 2D
            ctx.clearRect(9, 246, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 246, 50, 25);
            ctx.strokeRect(10, 246, 50, 25);
            // 2E
            ctx.clearRect(9, 271, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 271, 50, 25);
            ctx.strokeRect(10, 271, 50, 25);
            // 2F
            ctx.clearRect(9, 296, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 296, 50, 25);
            ctx.strokeRect(10, 296, 50, 25);
            // 2G
            ctx.clearRect(9, 321, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 321, 50, 25);
            ctx.strokeRect(10, 321, 50, 25);
            // 2H
            ctx.clearRect(9, 346, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 346, 50, 25);
            ctx.strokeRect(10, 346, 50, 25);


            // 3A
            ctx.clearRect(9, 390, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 391, 50, 25);
            ctx.strokeRect(10, 391, 50, 25);
            // 3B
            ctx.clearRect(9, 416, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 416, 50, 25);
            ctx.strokeRect(10, 416, 50, 25);
            // 3C
            ctx.clearRect(9, 441, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 441, 50, 25);
            ctx.strokeRect(10, 441, 50, 25);
            // 3D
            ctx.clearRect(9, 466, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 466, 50, 25);
            ctx.strokeRect(10, 466, 50, 25);
            // 3E
            ctx.clearRect(9, 491, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 491, 50, 25);
            ctx.strokeRect(10, 491, 50, 25);
            // 3F
            ctx.clearRect(9, 516, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 516, 50, 25);
            ctx.strokeRect(10, 516, 50, 25);
            // 3G
            ctx.clearRect(9, 541, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 541, 50, 25);
            ctx.strokeRect(10, 541, 50, 25);


            // 4A
            ctx.clearRect(9, 585, 52, 28);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 586, 50, 25);
            ctx.strokeRect(10, 586, 50, 25);
            // 4B
            ctx.clearRect(9, 611, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 611, 50, 25);
            ctx.strokeRect(10, 611, 50, 25);
            // 4C
            ctx.clearRect(9, 636, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 636, 50, 25);
            ctx.strokeRect(10, 636, 50, 25);
            // 4D
            ctx.clearRect(9, 661, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 661, 50, 25);
            ctx.strokeRect(10, 661, 50, 25);
            // 4E
            ctx.clearRect(9, 686, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 686, 50, 25);
            ctx.strokeRect(10, 686, 50, 25);
            // 4F
            ctx.clearRect(9, 711, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 711, 50, 25);
            ctx.strokeRect(10, 711, 50, 25);


            // 5A
            ctx.clearRect(9, 755, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 756, 50, 25);
            ctx.strokeRect(10, 756, 50, 25);
            // 5B
            ctx.clearRect(9, 781, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 781, 50, 25);
            ctx.strokeRect(10, 781, 50, 25);

            // 6A
            ctx.clearRect(9, 825, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 826, 50, 25);
            ctx.strokeRect(10, 826, 50, 25);
            // 6B
            ctx.clearRect(9, 851, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 851, 50, 25);
            ctx.strokeRect(10, 851, 50, 25);


            //  ------------  LED1  ------------
            ctx.clearRect(7, 887, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(21, 900, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED2  ------------
            ctx.clearRect(36, 887, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(50, 900, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED3  ------------
            ctx.clearRect(7, 917, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(21, 930, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED4  ------------
            ctx.clearRect(36, 916, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(50, 930, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED5  ------------
            ctx.clearRect(7, 946, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(21, 960, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED6  ------------
            ctx.clearRect(36, 946, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(50, 960, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // FORMATAÇÃO TXT
            ctx.fillStyle = "rgb(0,0,0)";   // COR
            ctx.font = '18px sans-serif';   // FONTE

            // TEXTO 1
            ctx.fillText('74', 25, 20);     // 1A
            ctx.fillText('73.2', 18, 70);   // 1C
            ctx.fillText('73.1', 18, 95);   // 1D
            ctx.fillText('72', 25 , 145);   // 1F

            // TEXTO 2
            ctx.fillText('5.3', 23, 190);   // 2A
            ctx.fillText('5.2', 23, 215);   // 2B
            ctx.fillText('5.1', 23, 240);   // 2C
            ctx.fillText('63', 25 , 265);   // 2D
            ctx.fillText('9', 30 , 290);    // 2E
            ctx.fillText('9', 30 , 315);    // 2F
            ctx.fillText('64', 25 , 340);   // 2G
            ctx.fillText('19', 25 , 365);   // 2H

            // TEXTO 3
            ctx.fillText('7', 30, 190);    // 3A
            ctx.fillText('45', 25, 215);   // 3B
            ctx.fillText('44', 25, 240);   // 3C
            ctx.fillText('10', 25 , 265);  // 3D
            ctx.fillText('15', 25 , 290);  // 3E
            ctx.fillText('15', 25 , 315);  // 3F
            ctx.fillText('R', 30 , 340);   // 3G



        }
        if (window2.getContext) {
            ctx = window2.getContext('2d');


            // 1A
            ctx.clearRect(9, 0, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 0, 50, 25);
            ctx.strokeRect(10, 1, 50, 25);
            // 1B
            ctx.clearRect(9, 26, 52, 26);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 25, 50, 25);
            ctx.strokeRect(10, 26, 50, 25);
            // 1C
            ctx.clearRect(9, 51, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 51, 50, 25);
            ctx.strokeRect(10, 51, 50, 25);
            // 1D
            ctx.clearRect(9, 76, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 76, 50, 25);
            ctx.strokeRect(10, 76, 50, 25);
            // 1E
            ctx.clearRect(9, 101, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 101, 50, 25);
            ctx.strokeRect(10, 101, 50, 25);
            // 1F
            ctx.clearRect(9, 126, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 126, 50, 25);
            ctx.strokeRect(10, 126, 50, 25);


            // 2A
            ctx.clearRect(9, 169, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 171, 50, 25);
            ctx.strokeRect(10, 171, 50, 25);
            // 2B
            ctx.clearRect(9, 196, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 196, 50, 25);
            ctx.strokeRect(10, 196, 50, 25);
            // 2C
            ctx.clearRect(9, 221, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 221, 50, 25);
            ctx.strokeRect(10, 221, 50, 25);
            // 2D
            ctx.clearRect(9, 246, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 246, 50, 25);
            ctx.strokeRect(10, 246, 50, 25);
            // 2E
            ctx.clearRect(9, 271, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 271, 50, 25);
            ctx.strokeRect(10, 271, 50, 25);
            // 2F
            ctx.clearRect(9, 296, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 296, 50, 25);
            ctx.strokeRect(10, 296, 50, 25);
            // 2G
            ctx.clearRect(9, 321, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 321, 50, 25);
            ctx.strokeRect(10, 321, 50, 25);
            // 2H
            ctx.clearRect(9, 346, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 346, 50, 25);
            ctx.strokeRect(10, 346, 50, 25);


            // 3A
            ctx.clearRect(9, 390, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 391, 50, 25);
            ctx.strokeRect(10, 391, 50, 25);
            // 3B
            ctx.clearRect(9, 416, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 416, 50, 25);
            ctx.strokeRect(10, 416, 50, 25);
            // 3C
            ctx.clearRect(9, 441, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 441, 50, 25);
            ctx.strokeRect(10, 441, 50, 25);
            // 3D
            ctx.clearRect(9, 466, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 466, 50, 25);
            ctx.strokeRect(10, 466, 50, 25);
            // 3E
            ctx.clearRect(9, 491, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 491, 50, 25);
            ctx.strokeRect(10, 491, 50, 25);
            // 3F
            ctx.clearRect(9, 516, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 516, 50, 25);
            ctx.strokeRect(10, 516, 50, 25);
            // 3G
            ctx.clearRect(9, 541, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 541, 50, 25);
            ctx.strokeRect(10, 541, 50, 25);


            // 4A
            ctx.clearRect(9, 585, 52, 28);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 586, 50, 25);
            ctx.strokeRect(10, 586, 50, 25);
            // 4B
            ctx.clearRect(9, 611, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 611, 50, 25);
            ctx.strokeRect(10, 611, 50, 25);
            // 4C
            ctx.clearRect(9, 636, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 636, 50, 25);
            ctx.strokeRect(10, 636, 50, 25);
            // 4D
            ctx.clearRect(9, 661, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 661, 50, 25);
            ctx.strokeRect(10, 661, 50, 25);
            // 4E
            ctx.clearRect(9, 686, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 686, 50, 25);
            ctx.strokeRect(10, 686, 50, 25);
            // 4F
            ctx.clearRect(9, 711, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 711, 50, 25);
            ctx.strokeRect(10, 711, 50, 25);


            // 5A
            ctx.clearRect(9, 755, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 756, 50, 25);
            ctx.strokeRect(10, 756, 50, 25);
            // 5B
            ctx.clearRect(9, 781, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 781, 50, 25);
            ctx.strokeRect(10, 781, 50, 25);

            // 6A
            ctx.clearRect(9, 825, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 826, 50, 25);
            ctx.strokeRect(10, 826, 50, 25);
            // 6B
            ctx.clearRect(9, 851, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 851, 50, 25);
            ctx.strokeRect(10, 851, 50, 25);


            //  ------------  LED1  ------------
            ctx.clearRect(7, 887, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(21, 900, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED2  ------------
            ctx.clearRect(36, 887, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(50, 900, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED3  ------------
            ctx.clearRect(7, 917, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(21, 930, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED4  ------------
            ctx.clearRect(36, 916, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(50, 930, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED5  ------------
            ctx.clearRect(7, 946, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(21, 960, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED6  ------------
            ctx.clearRect(36, 946, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(50, 960, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

        }
        if (window3.getContext) {
            ctx = window3.getContext('2d');


            // 1A
            ctx.clearRect(9, 0, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 0, 50, 25);
            ctx.strokeRect(10, 1, 50, 25);
            // 1B
            ctx.clearRect(9, 26, 52, 26);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 25, 50, 25);
            ctx.strokeRect(10, 26, 50, 25);
            // 1C
            ctx.clearRect(9, 51, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 51, 50, 25);
            ctx.strokeRect(10, 51, 50, 25);
            // 1D
            ctx.clearRect(9, 76, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 76, 50, 25);
            ctx.strokeRect(10, 76, 50, 25);
            // 1E
            ctx.clearRect(9, 101, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 101, 50, 25);
            ctx.strokeRect(10, 101, 50, 25);
            // 1F
            ctx.clearRect(9, 126, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 126, 50, 25);
            ctx.strokeRect(10, 126, 50, 25);


            // 2A
            ctx.clearRect(9, 169, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 171, 50, 25);
            ctx.strokeRect(10, 171, 50, 25);
            // 2B
            ctx.clearRect(9, 196, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 196, 50, 25);
            ctx.strokeRect(10, 196, 50, 25);
            // 2C
            ctx.clearRect(9, 221, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 221, 50, 25);
            ctx.strokeRect(10, 221, 50, 25);
            // 2D
            ctx.clearRect(9, 246, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 246, 50, 25);
            ctx.strokeRect(10, 246, 50, 25);
            // 2E
            ctx.clearRect(9, 271, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 271, 50, 25);
            ctx.strokeRect(10, 271, 50, 25);
            // 2F
            ctx.clearRect(9, 296, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 296, 50, 25);
            ctx.strokeRect(10, 296, 50, 25);
            // 2G
            ctx.clearRect(9, 321, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 321, 50, 25);
            ctx.strokeRect(10, 321, 50, 25);
            // 2H
            ctx.clearRect(9, 346, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 346, 50, 25);
            ctx.strokeRect(10, 346, 50, 25);


            // 3A
            ctx.clearRect(9, 390, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 391, 50, 25);
            ctx.strokeRect(10, 391, 50, 25);
            // 3B
            ctx.clearRect(9, 416, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 416, 50, 25);
            ctx.strokeRect(10, 416, 50, 25);
            // 3C
            ctx.clearRect(9, 441, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 441, 50, 25);
            ctx.strokeRect(10, 441, 50, 25);
            // 3D
            ctx.clearRect(9, 466, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 466, 50, 25);
            ctx.strokeRect(10, 466, 50, 25);
            // 3E
            ctx.clearRect(9, 491, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 491, 50, 25);
            ctx.strokeRect(10, 491, 50, 25);
            // 3F
            ctx.clearRect(9, 516, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 516, 50, 25);
            ctx.strokeRect(10, 516, 50, 25);
            // 3G
            ctx.clearRect(9, 541, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 541, 50, 25);
            ctx.strokeRect(10, 541, 50, 25);


            // 4A
            ctx.clearRect(9, 585, 52, 28);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 586, 50, 25);
            ctx.strokeRect(10, 586, 50, 25);
            // 4B
            ctx.clearRect(9, 611, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 611, 50, 25);
            ctx.strokeRect(10, 611, 50, 25);
            // 4C
            ctx.clearRect(9, 636, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 636, 50, 25);
            ctx.strokeRect(10, 636, 50, 25);
            // 4D
            ctx.clearRect(9, 661, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 661, 50, 25);
            ctx.strokeRect(10, 661, 50, 25);
            // 4E
            ctx.clearRect(9, 686, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 686, 50, 25);
            ctx.strokeRect(10, 686, 50, 25);
            // 4F
            ctx.clearRect(9, 711, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 711, 50, 25);
            ctx.strokeRect(10, 711, 50, 25);


            // 5A
            ctx.clearRect(9, 755, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 756, 50, 25);
            ctx.strokeRect(10, 756, 50, 25);
            // 5B
            ctx.clearRect(9, 781, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 781, 50, 25);
            ctx.strokeRect(10, 781, 50, 25);

            // 6A
            ctx.clearRect(9, 825, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 826, 50, 25);
            ctx.strokeRect(10, 826, 50, 25);
            // 6B
            ctx.clearRect(9, 851, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 851, 50, 25);
            ctx.strokeRect(10, 851, 50, 25);


            //  ------------  LED1  ------------
            ctx.clearRect(7, 887, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(21, 900, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED2  ------------
            ctx.clearRect(36, 887, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(50, 900, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED3  ------------
            ctx.clearRect(7, 917, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(21, 930, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED4  ------------
            ctx.clearRect(36, 916, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(50, 930, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED5  ------------
            ctx.clearRect(7, 946, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(21, 960, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED6  ------------
            ctx.clearRect(36, 946, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(50, 960, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

        }
        if (window4.getContext) {
            ctx = window4.getContext('2d');


            // 1A
            ctx.clearRect(9, 0, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 0, 50, 25);
            ctx.strokeRect(10, 1, 50, 25);
            // 1B
            ctx.clearRect(9, 26, 52, 26);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 25, 50, 25);
            ctx.strokeRect(10, 26, 50, 25);
            // 1C
            ctx.clearRect(9, 51, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 51, 50, 25);
            ctx.strokeRect(10, 51, 50, 25);
            // 1D
            ctx.clearRect(9, 76, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 76, 50, 25);
            ctx.strokeRect(10, 76, 50, 25);
            // 1E
            ctx.clearRect(9, 101, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 101, 50, 25);
            ctx.strokeRect(10, 101, 50, 25);
            // 1F
            ctx.clearRect(9, 126, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 126, 50, 25);
            ctx.strokeRect(10, 126, 50, 25);


            // 2A
            ctx.clearRect(9, 169, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 171, 50, 25);
            ctx.strokeRect(10, 171, 50, 25);
            // 2B
            ctx.clearRect(9, 196, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 196, 50, 25);
            ctx.strokeRect(10, 196, 50, 25);
            // 2C
            ctx.clearRect(9, 221, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 221, 50, 25);
            ctx.strokeRect(10, 221, 50, 25);
            // 2D
            ctx.clearRect(9, 246, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 246, 50, 25);
            ctx.strokeRect(10, 246, 50, 25);
            // 2E
            ctx.clearRect(9, 271, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 271, 50, 25);
            ctx.strokeRect(10, 271, 50, 25);
            // 2F
            ctx.clearRect(9, 296, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 296, 50, 25);
            ctx.strokeRect(10, 296, 50, 25);
            // 2G
            ctx.clearRect(9, 321, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 321, 50, 25);
            ctx.strokeRect(10, 321, 50, 25);
            // 2H
            ctx.clearRect(9, 346, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 346, 50, 25);
            ctx.strokeRect(10, 346, 50, 25);


            // 3A
            ctx.clearRect(9, 390, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 391, 50, 25);
            ctx.strokeRect(10, 391, 50, 25);
            // 3B
            ctx.clearRect(9, 416, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 416, 50, 25);
            ctx.strokeRect(10, 416, 50, 25);
            // 3C
            ctx.clearRect(9, 441, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 441, 50, 25);
            ctx.strokeRect(10, 441, 50, 25);
            // 3D
            ctx.clearRect(9, 466, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 466, 50, 25);
            ctx.strokeRect(10, 466, 50, 25);
            // 3E
            ctx.clearRect(9, 491, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 491, 50, 25);
            ctx.strokeRect(10, 491, 50, 25);
            // 3F
            ctx.clearRect(9, 516, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 516, 50, 25);
            ctx.strokeRect(10, 516, 50, 25);
            // 3G
            ctx.clearRect(9, 541, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 541, 50, 25);
            ctx.strokeRect(10, 541, 50, 25);


            // 4A
            ctx.clearRect(9, 585, 52, 28);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 586, 50, 25);
            ctx.strokeRect(10, 586, 50, 25);
            // 4B
            ctx.clearRect(9, 611, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 611, 50, 25);
            ctx.strokeRect(10, 611, 50, 25);
            // 4C
            ctx.clearRect(9, 636, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 636, 50, 25);
            ctx.strokeRect(10, 636, 50, 25);
            // 4D
            ctx.clearRect(9, 661, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 661, 50, 25);
            ctx.strokeRect(10, 661, 50, 25);
            // 4E
            ctx.clearRect(9, 686, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 686, 50, 25);
            ctx.strokeRect(10, 686, 50, 25);
            // 4F
            ctx.clearRect(9, 711, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 711, 50, 25);
            ctx.strokeRect(10, 711, 50, 25);


            // 5A
            ctx.clearRect(9, 755, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 756, 50, 25);
            ctx.strokeRect(10, 756, 50, 25);
            // 5B
            ctx.clearRect(9, 781, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 781, 50, 25);
            ctx.strokeRect(10, 781, 50, 25);

            // 6A
            ctx.clearRect(9, 825, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 826, 50, 25);
            ctx.strokeRect(10, 826, 50, 25);
            // 6B
            ctx.clearRect(9, 851, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 851, 50, 25);
            ctx.strokeRect(10, 851, 50, 25);


            //  ------------  LED1  ------------
            ctx.clearRect(7, 887, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(21, 900, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED2  ------------
            ctx.clearRect(36, 887, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(50, 900, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED3  ------------
            ctx.clearRect(7, 917, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(21, 930, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED4  ------------
            ctx.clearRect(36, 916, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(50, 930, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED5  ------------
            ctx.clearRect(7, 946, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(21, 960, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED6  ------------
            ctx.clearRect(36, 946, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(50, 960, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

        }
        if (window5.getContext) {
            ctx = window5.getContext('2d');


            // 1A
            ctx.clearRect(9, 0, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 0, 50, 25);
            ctx.strokeRect(10, 1, 50, 25);
            // 1B
            ctx.clearRect(9, 26, 52, 26);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 25, 50, 25);
            ctx.strokeRect(10, 26, 50, 25);
            // 1C
            ctx.clearRect(9, 51, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 51, 50, 25);
            ctx.strokeRect(10, 51, 50, 25);
            // 1D
            ctx.clearRect(9, 76, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 76, 50, 25);
            ctx.strokeRect(10, 76, 50, 25);
            // 1E
            ctx.clearRect(9, 101, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 101, 50, 25);
            ctx.strokeRect(10, 101, 50, 25);
            // 1F
            ctx.clearRect(9, 126, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 126, 50, 25);
            ctx.strokeRect(10, 126, 50, 25);


            // 2A
            ctx.clearRect(9, 169, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 171, 50, 25);
            ctx.strokeRect(10, 171, 50, 25);
            // 2B
            ctx.clearRect(9, 196, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 196, 50, 25);
            ctx.strokeRect(10, 196, 50, 25);
            // 2C
            ctx.clearRect(9, 221, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 221, 50, 25);
            ctx.strokeRect(10, 221, 50, 25);
            // 2D
            ctx.clearRect(9, 246, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 246, 50, 25);
            ctx.strokeRect(10, 246, 50, 25);
            // 2E
            ctx.clearRect(9, 271, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 271, 50, 25);
            ctx.strokeRect(10, 271, 50, 25);
            // 2F
            ctx.clearRect(9, 296, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 296, 50, 25);
            ctx.strokeRect(10, 296, 50, 25);
            // 2G
            ctx.clearRect(9, 321, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 321, 50, 25);
            ctx.strokeRect(10, 321, 50, 25);
            // 2H
            ctx.clearRect(9, 346, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 346, 50, 25);
            ctx.strokeRect(10, 346, 50, 25);


            // 3A
            ctx.clearRect(9, 390, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 391, 50, 25);
            ctx.strokeRect(10, 391, 50, 25);
            // 3B
            ctx.clearRect(9, 416, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 416, 50, 25);
            ctx.strokeRect(10, 416, 50, 25);
            // 3C
            ctx.clearRect(9, 441, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 441, 50, 25);
            ctx.strokeRect(10, 441, 50, 25);
            // 3D
            ctx.clearRect(9, 466, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 466, 50, 25);
            ctx.strokeRect(10, 466, 50, 25);
            // 3E
            ctx.clearRect(9, 491, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 491, 50, 25);
            ctx.strokeRect(10, 491, 50, 25);
            // 3F
            ctx.clearRect(9, 516, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 516, 50, 25);
            ctx.strokeRect(10, 516, 50, 25);
            // 3G
            ctx.clearRect(9, 541, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 541, 50, 25);
            ctx.strokeRect(10, 541, 50, 25);


            // 4A
            ctx.clearRect(9, 585, 52, 28);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 586, 50, 25);
            ctx.strokeRect(10, 586, 50, 25);
            // 4B
            ctx.clearRect(9, 611, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 611, 50, 25);
            ctx.strokeRect(10, 611, 50, 25);
            // 4C
            ctx.clearRect(9, 636, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 636, 50, 25);
            ctx.strokeRect(10, 636, 50, 25);
            // 4D
            ctx.clearRect(9, 661, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 661, 50, 25);
            ctx.strokeRect(10, 661, 50, 25);
            // 4E
            ctx.clearRect(9, 686, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 686, 50, 25);
            ctx.strokeRect(10, 686, 50, 25);
            // 4F
            ctx.clearRect(9, 711, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 711, 50, 25);
            ctx.strokeRect(10, 711, 50, 25);


            // 5A
            ctx.clearRect(9, 755, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 756, 50, 25);
            ctx.strokeRect(10, 756, 50, 25);
            // 5B
            ctx.clearRect(9, 781, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 781, 50, 25);
            ctx.strokeRect(10, 781, 50, 25);

            // 6A
            ctx.clearRect(9, 825, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 826, 50, 25);
            ctx.strokeRect(10, 826, 50, 25);
            // 6B
            ctx.clearRect(9, 851, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 851, 50, 25);
            ctx.strokeRect(10, 851, 50, 25);


            //  ------------  LED1  ------------
            ctx.clearRect(7, 887, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(21, 900, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED2  ------------
            ctx.clearRect(36, 887, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(50, 900, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED3  ------------
            ctx.clearRect(7, 917, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(21, 930, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED4  ------------
            ctx.clearRect(36, 916, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(50, 930, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED5  ------------
            ctx.clearRect(7, 946, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(21, 960, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED6  ------------
            ctx.clearRect(36, 946, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(50, 960, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

        }
        if (window6.getContext) {
            ctx = window6.getContext('2d');


            // 1A
            ctx.clearRect(9, 0, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 0, 50, 25);
            ctx.strokeRect(10, 1, 50, 25);
            // 1B
            ctx.clearRect(9, 26, 52, 26);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 25, 50, 25);
            ctx.strokeRect(10, 26, 50, 25);
            // 1C
            ctx.clearRect(9, 51, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 51, 50, 25);
            ctx.strokeRect(10, 51, 50, 25);
            // 1D
            ctx.clearRect(9, 76, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 76, 50, 25);
            ctx.strokeRect(10, 76, 50, 25);
            // 1E
            ctx.clearRect(9, 101, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 101, 50, 25);
            ctx.strokeRect(10, 101, 50, 25);
            // 1F
            ctx.clearRect(9, 126, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 126, 50, 25);
            ctx.strokeRect(10, 126, 50, 25);


            // 2A
            ctx.clearRect(9, 169, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 171, 50, 25);
            ctx.strokeRect(10, 171, 50, 25);
            // 2B
            ctx.clearRect(9, 196, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 196, 50, 25);
            ctx.strokeRect(10, 196, 50, 25);
            // 2C
            ctx.clearRect(9, 221, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 221, 50, 25);
            ctx.strokeRect(10, 221, 50, 25);
            // 2D
            ctx.clearRect(9, 246, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 246, 50, 25);
            ctx.strokeRect(10, 246, 50, 25);
            // 2E
            ctx.clearRect(9, 271, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 271, 50, 25);
            ctx.strokeRect(10, 271, 50, 25);
            // 2F
            ctx.clearRect(9, 296, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 296, 50, 25);
            ctx.strokeRect(10, 296, 50, 25);
            // 2G
            ctx.clearRect(9, 321, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 321, 50, 25);
            ctx.strokeRect(10, 321, 50, 25);
            // 2H
            ctx.clearRect(9, 346, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 346, 50, 25);
            ctx.strokeRect(10, 346, 50, 25);


            // 3A
            ctx.clearRect(9, 390, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 391, 50, 25);
            ctx.strokeRect(10, 391, 50, 25);
            // 3B
            ctx.clearRect(9, 416, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 416, 50, 25);
            ctx.strokeRect(10, 416, 50, 25);
            // 3C
            ctx.clearRect(9, 441, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 441, 50, 25);
            ctx.strokeRect(10, 441, 50, 25);
            // 3D
            ctx.clearRect(9, 466, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 466, 50, 25);
            ctx.strokeRect(10, 466, 50, 25);
            // 3E
            ctx.clearRect(9, 491, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 491, 50, 25);
            ctx.strokeRect(10, 491, 50, 25);
            // 3F
            ctx.clearRect(9, 516, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 516, 50, 25);
            ctx.strokeRect(10, 516, 50, 25);
            // 3G
            ctx.clearRect(9, 541, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 541, 50, 25);
            ctx.strokeRect(10, 541, 50, 25);


            // 4A
            ctx.clearRect(9, 585, 52, 28);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 586, 50, 25);
            ctx.strokeRect(10, 586, 50, 25);
            // 4B
            ctx.clearRect(9, 611, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 611, 50, 25);
            ctx.strokeRect(10, 611, 50, 25);
            // 4C
            ctx.clearRect(9, 636, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 636, 50, 25);
            ctx.strokeRect(10, 636, 50, 25);
            // 4D
            ctx.clearRect(9, 661, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 661, 50, 25);
            ctx.strokeRect(10, 661, 50, 25);
            // 4E
            ctx.clearRect(9, 686, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 686, 50, 25);
            ctx.strokeRect(10, 686, 50, 25);
            // 4F
            ctx.clearRect(9, 711, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 711, 50, 25);
            ctx.strokeRect(10, 711, 50, 25);


            // 5A
            ctx.clearRect(9, 755, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 756, 50, 25);
            ctx.strokeRect(10, 756, 50, 25);
            // 5B
            ctx.clearRect(9, 781, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 781, 50, 25);
            ctx.strokeRect(10, 781, 50, 25);

            // 6A
            ctx.clearRect(9, 825, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 826, 50, 25);
            ctx.strokeRect(10, 826, 50, 25);
            // 6B
            ctx.clearRect(9, 851, 52, 27);
            ctx.fillStyle = "rgba(1,3,14,0.5)";
            ctx.fillRect(10, 851, 50, 25);
            ctx.strokeRect(10, 851, 50, 25);


            //  ------------  LED1  ------------
            ctx.clearRect(7, 887, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(21, 900, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED2  ------------
            ctx.clearRect(36, 887, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(50, 900, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED3  ------------
            ctx.clearRect(7, 917, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(21, 930, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED4  ------------
            ctx.clearRect(36, 916, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(50, 930, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED5  ------------
            ctx.clearRect(7, 946, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(21, 960, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

            // ------------  LED6  ------------
            ctx.clearRect(36, 946, 27, 27);
            var circle = new Path2D();
            circle.moveTo(125, 35);
            circle.arc(50, 960, 13, 0, 2 * Math.PI);
            ctx.fillStyle = "rgb(255,0,0)";
            ctx.fill(circle);

        }

    }
</script>

<style>
    canvas { margin: 0 100px 0 100px }
</style>
