{{extend 'layout.html'}}

<body onload="draw();">
    <div id="id1"> <!-- 6 itens -->
        <canvas id="id1a" width="150" height="50"></canvas>
        <canvas id="id1b" width="150" height="50"></canvas>
        <canvas id="id1c" width="150" height="50"></canvas>
        <canvas id="id1d" width="150" height="50"></canvas>
        <canvas id="id1e" width="150" height="50"></canvas>
        <canvas id="id1f" width="150" height="50"></canvas>
    </div>
    <br>
    <div id="id2"> <!-- 8 itens -->
        <canvas id="id2a" width="150" height="50"></canvas>
        <canvas id="id2b" width="150" height="50"></canvas>
        <canvas id="id2c" width="150" height="50"></canvas>
        <canvas id="id2d" width="150" height="50"></canvas>
        <canvas id="id2e" width="150" height="50"></canvas>
        <canvas id="id2f" width="150" height="50"></canvas>
        <canvas id="id2g" width="150" height="50"></canvas>
        <canvas id="id2h" width="150" height="50"></canvas>
    </div>
    <br>
    <div id="id3"> <!-- 7 itens -->
        <canvas id="id3a" width="150" height="50"></canvas>
        <canvas id="id3b" width="150" height="50"></canvas>
        <canvas id="id3c" width="150" height="50"></canvas>
        <canvas id="id3d" width="150" height="50"></canvas>
        <canvas id="id3e" width="150" height="50"></canvas>
        <canvas id="id3f" width="150" height="50"></canvas>
        <canvas id="id3g" width="150" height="50"></canvas>
    </div>
    <br>
    <div id="id4"> <!-- 6 itens -->
        <canvas id="id4a" width="150" height="50"></canvas>
        <canvas id="id4b" width="150" height="50"></canvas>
        <canvas id="id4c" width="150" height="50"></canvas>
        <canvas id="id4d" width="150" height="50"></canvas>
        <canvas id="id4e" width="150" height="50"></canvas>
        <canvas id="id4f" width="150" height="50"></canvas>
    </div>
    <br>
    <div id="id5"> <!-- 2 itens -->
        <canvas id="id5a" width="150" height="50"></canvas>
        <canvas id="id5b" width="150" height="50"></canvas>
    </div>
    <br>
    <div id="id6"> <!-- 2 itens -->
        <canvas id="id6a" width="150" height="50"></canvas>
        <canvas id="id6b" width="150" height="50"></canvas>
    </div>
    <br>
    <div id="leds"> <!-- 6 itens -->
        <canvas class="led" id="led1" width="50" height="50"></canvas>
        <canvas class="led" id="led2" width="50" height="50"></canvas>
        <br>
        <canvas class="led" id="led3" width="50" height="50"></canvas>
        <canvas class="led" id="led4" width="50" height="50"></canvas>
        <br>
        <canvas class="led" id="led5" width="50" height="50"></canvas>
        <canvas class="led" id="led6" width="50" height="50"></canvas>
    </div>
    <br>
    <div id="id7"> <!-- 8 itens -->
        <canvas id="id7a" width="150" height="50"></canvas>
        <canvas id="id7b" width="150" height="50"></canvas>
        <canvas id="id7c" width="150" height="50"></canvas>
        <canvas id="id7d" width="150" height="50"></canvas>
        <canvas id="id7e" width="150" height="50"></canvas>
        <canvas id="id7f" width="150" height="50"></canvas>
        <canvas id="id7g" width="150" height="50"></canvas>
        <canvas id="id7h" width="150" height="50"></canvas>
    </div>

</body>



<script type="application/javascript">
    function draw() {

        // Id 1
        var id1a = document.getElementById('id1a');
            if (id1a.getContext) {
            var id1a = id1a.getContext("2d");
            id1a.fillStyle = "rgba(0, 0, 200, 0.5)";
            id1a.fillRect(0, 0, 150, 50);
        }
        var id1b = document.getElementById('id1b');
            if (id1b.getContext) {
            var id1b = id1b.getContext("2d");
            id1b.fillStyle = "rgba(155, 0, 200, 0.5)";
            id1b.fillRect(0, 0, 150, 50);
        }
        var id1c = document.getElementById('id1c');
            if (id1c.getContext) {
            var id1c = id1c.getContext("2d");
            id1c.fillStyle = "rgba(310, 0, 200, 0.5)";
            id1c.fillRect(0, 0, 150, 50);
        }
        var id1d = document.getElementById('id1d');
            if (id1d.getContext) {
            var id1d = id1d.getContext("2d");
            id1d.fillStyle = "rgba(198,36,36,0.5)";
            id1d.fillRect(0, 0, 150, 50);
        }
        var id1e = document.getElementById('id1e');
            if (id1e.getContext) {
            var id1e = id1e.getContext("2d");
            id1e.fillStyle = "rgb(255,0,0)";
            id1e.fillRect(0, 0, 150, 50);
        }
        var id1f = document.getElementById('id1f');
            if (id1f.getContext) {
            var id1f = id1f.getContext("2d");
            id1f.fillStyle = "rgba(239,37,37,0.5)";
            id1f.fillRect(0, 0, 150, 50);
        }


        // Id 2

        var id2a = document.getElementById('id2a');
            if (id2a.getContext) {
            var id2a = id2a.getContext("2d");
            id2a.fillStyle = "rgba(239,37,37,0.5)";
            id2a.fillRect(0, 0, 150, 50);
        }
        var id2b = document.getElementById('id2b');
            if (id2b.getContext) {
            var id2b = id2b.getContext("2d");
            id2b.fillStyle = "rgba(239,37,37,0.5)";
            id2b.fillRect(0, 0, 150, 50);
        }
        var id2c = document.getElementById('id2c');
            if (id2c.getContext) {
            var id2c = id2c.getContext("2d");
            id2c.fillStyle = "rgba(239,37,37,0.5)";
            id2c.fillRect(0, 0, 150, 50);
        }
        var id2d = document.getElementById('id2d');
            if (id2d.getContext) {
            var id2d = id2d.getContext("2d");
            id2d.fillStyle = "rgba(239,37,37,0.5)";
            id2d.fillRect(0, 0, 150, 50);
        }
        var id2e = document.getElementById('id2e');
            if (id2e.getContext) {
            var id2e = id2e.getContext("2d");
            id2e.fillStyle = "rgba(239,37,37,0.5)";
            id2e.fillRect(0, 0, 150, 50);
        }
        var id2f = document.getElementById('id2f');
            if (id2f.getContext) {
            var id2f = id2f.getContext("2d");
            id2f.fillStyle = "rgba(239,37,37,0.5)";
            id2f.fillRect(0, 0, 150, 50);
        }
        var id2g = document.getElementById('id2g');
            if (id2g.getContext) {
            var id2g = id2g.getContext("2d");
            id2g.fillStyle = "rgba(239,37,37,0.5)";
            id2g.fillRect(0, 0, 150, 50);
        }
        var id2h = document.getElementById('id2h');
            if (id2h.getContext) {
            var id2h = id2h.getContext("2d");
            id2h.fillStyle = "rgba(239,37,37,0.5)";
            id2h.fillRect(0, 0, 150, 50);
        }


        // Id 3

        var id3a = document.getElementById('id3a');
            if (id3a.getContext) {
            var id3a = id3a.getContext("2d");
            id3a.fillStyle = "rgba(239,37,37,0.5)";
            id3a.fillRect(0, 0, 150, 50);
        }
        var id3b = document.getElementById('id3b');
            if (id3b.getContext) {
            var id3b = id3b.getContext("2d");
            id3b.fillStyle = "rgba(239,37,37,0.5)";
            id3b.fillRect(0, 0, 150, 50);
        }
        var id3c = document.getElementById('id3c');
            if (id3c.getContext) {
            var id3c = id3c.getContext("2d");
            id3c.fillStyle = "rgba(239,37,37,0.5)";
            id3c.fillRect(0, 0, 150, 50);
        }
        var id3d = document.getElementById('id3d');
            if (id3d.getContext) {
            var id3d = id3d.getContext("2d");
            id3d.fillStyle = "rgba(239,37,37,0.5)";
            id3d.fillRect(0, 0, 150, 50);
        }
        var id3e = document.getElementById('id3e');
            if (id3e.getContext) {
            var id3e = id3e.getContext("2d");
            id3e.fillStyle = "rgba(239,37,37,0.5)";
            id3e.fillRect(0, 0, 150, 50);
        }
        var id3f = document.getElementById('id3f');
            if (id3f.getContext) {
            var id3f = id3f.getContext("2d");
            id3f.fillStyle = "rgba(239,37,37,0.5)";
            id3f.fillRect(0, 0, 150, 50);
        }
        var id3g = document.getElementById('id3g');
            if (id3g.getContext) {
            var id2g = id3g.getContext("2d");
            id2g.fillStyle = "rgba(239,37,37,0.5)";
            id2g.fillRect(0, 0, 150, 50);
        }


        // Id 4

        var id4a = document.getElementById('id4a');
            if (id4a.getContext) {
            var id4a = id4a.getContext("2d");
            id4a.fillStyle = "rgba(0, 0, 200, 0.5)";
            id4a.fillRect(0, 0, 150, 50);
        }
        var id4b = document.getElementById('id4b');
            if (id4b.getContext) {
            var id4b = id4b.getContext("2d");
            id4b.fillStyle = "rgba(155, 0, 200, 0.5)";
            id4b.fillRect(0, 0, 150, 50);
        }
        var id4c = document.getElementById('id4c');
            if (id4c.getContext) {
            var id4c = id4c.getContext("2d");
            id4c.fillStyle = "rgba(310, 0, 200, 0.5)";
            id4c.fillRect(0, 0, 150, 50);
        }
        var id4d = document.getElementById('id4d');
            if (id4d.getContext) {
            var id4d = id4d.getContext("2d");
            id4d.fillStyle = "rgba(198,36,36,0.5)";
            id4d.fillRect(0, 0, 150, 50);
        }
        var id4e = document.getElementById('id4e');
            if (id4e.getContext) {
            var id4e = id4e.getContext("2d");
            id4e.fillStyle = "rgb(255,0,0)";
            id4e.fillRect(0, 0, 150, 50);
        }
        var id4f = document.getElementById('id4f');
            if (id4f.getContext) {
            var id4f = id4f.getContext("2d");
            id4f.fillStyle = "rgba(239,37,37,0.5)";
            id4f.fillRect(0, 0, 150, 50);
        }


        // Id 5

        var id5a = document.getElementById('id5a');
            if (id5a.getContext) {
            var id5a = id5a.getContext("2d");
            id5a.fillStyle = "rgba(0, 0, 200, 0.5)";
            id5a.fillRect(0, 0, 150, 50);
        }
        var id5b = document.getElementById('id5b');
            if (id5b.getContext) {
            var id5b = id5b.getContext("2d");
            id5b.fillStyle = "rgba(155, 0, 200, 0.5)";
            id5b.fillRect(0, 0, 150, 50);
        }


        // Id 6

        var id6a = document.getElementById('id6a');
            if (id6a.getContext) {
            var id6a = id6a.getContext("2d");
            id6a.fillStyle = "rgba(0, 0, 200, 0.5)";
            id6a.fillRect(0, 0, 150, 50);
        }
        var id6b = document.getElementById('id6b');
            if (id6b.getContext) {
            var id6b = id6b.getContext("2d");
            id6b.fillStyle = "rgba(155, 0, 200, 0.5)";
            id6b.fillRect(0, 0, 150, 50);
        }


        // Leds

        var led1 = document.getElementById('led1');
            if (led1.getContext) {
            var led1 = led1.getContext("2d");
            led1.fillStyle = "rgba(0, 0, 200, 0.5)";
            led1.fillRect(0, 0, 150, 50);
        }
        var led2 = document.getElementById('led2');
            if (led2.getContext) {
            var led2 = led2.getContext("2d");
            led2.fillStyle = "rgba(155, 0, 200, 0.5)";
            led2.fillRect(0, 0, 150, 50);
        }
        var led3 = document.getElementById('led3');
            if (led3.getContext) {
            var led3 = led3.getContext("2d");
            led3.fillStyle = "rgba(310, 0, 200, 0.5)";
            led3.fillRect(0, 0, 150, 50);
        }
        var led4 = document.getElementById('led4');
            if (led4.getContext) {
            var led4 = led4.getContext("2d");
            led4.fillStyle = "rgba(198,36,36,0.5)";
            led4.fillRect(0, 0, 150, 50);
        }
        var led5 = document.getElementById('led5');
            if (led5.getContext) {
            var led5 = led5.getContext("2d");
            led5.fillStyle = "rgb(255,0,0)";
            led5.fillRect(0, 0, 150, 50);
        }
        var led6 = document.getElementById('led6');
            if (led6.getContext) {
            var led6 = led6.getContext("2d");
            led6.fillStyle = "rgba(239,37,37,0.5)";
            led6.fillRect(0, 0, 150, 50);
        }


        // Id 7

        var id7a = document.getElementById('id7a');
            if (id7a.getContext) {
            var id7a = id7a.getContext("2d");
            id7a.fillStyle = "rgba(239,37,37,0.5)";
            id7a.fillRect(0, 0, 150, 50);
        }
        var id7b = document.getElementById('id7b');
            if (id7b.getContext) {
            var id7b = id7b.getContext("2d");
            id7b.fillStyle = "rgba(239,37,37,0.5)";
            id7b.fillRect(0, 0, 150, 50);
        }
        var id7c = document.getElementById('id7c');
            if (id7c.getContext) {
            var id7c = id7c.getContext("2d");
            id7c.fillStyle = "rgba(239,37,37,0.5)";
            id7c.fillRect(0, 0, 150, 50);
        }
        var id7d = document.getElementById('id7d');
            if (id7d.getContext) {
            var id7d = id7d.getContext("2d");
            id7d.fillStyle = "rgba(239,37,37,0.5)";
            id7d.fillRect(0, 0, 150, 50);
        }
        var id7e = document.getElementById('id7e');
            if (id7e.getContext) {
            var id7e = id7e.getContext("2d");
            id7e.fillStyle = "rgba(239,37,37,0.5)";
            id7e.fillRect(0, 0, 150, 50);
        }
        var id2f = document.getElementById('id2f');
            if (id2f.getContext) {
            var id2f = id2f.getContext("2d");
            id2f.fillStyle = "rgba(239,37,37,0.5)";
            id2f.fillRect(0, 0, 150, 50);
        }
        var id2g = document.getElementById('id2g');
            if (id2g.getContext) {
            var id2g = id2g.getContext("2d");
            id2g.fillStyle = "rgba(239,37,37,0.5)";
            id2g.fillRect(0, 0, 150, 50);
        }
        var id2h = document.getElementById('id2h');
            if (id2h.getContext) {
            var id2h = id2h.getContext("2d");
            id2h.fillStyle = "rgba(239,37,37,0.5)";
            id2h.fillRect(0, 0, 150, 50);
        }

    }
</script>



<style>
    canvas {
        display: block;
    }

    .led {
        display: inline;
    }
</style>



