{{extend 'layout.html'}}

<body onload="draw();">
    <div id="id1"> <!-- 6 itens -->
        <canvas id="id1a" width="150" height="50"></canvas>
        <canvas id="id1b" width="150" height="50"></canvas>
        <canvas id="id1c" width="150" height="50"></canvas>
        <canvas id="id1d" width="150" height="50"></canvas>
        <canvas id="id1e" width="150" height="50"></canvas>
        <canvas id="id1f" width="150" height="50"></canvas>
    </div>
    <br>
    <div id="id2"> <!-- 8 itens -->
        <canvas id="id2a" width="150" height="50"></canvas>
        <canvas id="id2b" width="150" height="50"></canvas>
        <canvas id="id2c" width="150" height="50"></canvas>
        <canvas id="id2d" width="150" height="50"></canvas>
        <canvas id="id2e" width="150" height="50"></canvas>
        <canvas id="id2f" width="150" height="50"></canvas>
        <canvas id="id2g" width="150" height="50"></canvas>
        <canvas id="id2h" width="150" height="50"></canvas>
    </div>
    <br>
    <div id="id3"> <!-- 7 itens -->
        <canvas id="id3a" width="150" height="50"></canvas>
        <canvas id="id3b" width="150" height="50"></canvas>
        <canvas id="id3c" width="150" height="50"></canvas>
        <canvas id="id3d" width="150" height="50"></canvas>
        <canvas id="id3e" width="150" height="50"></canvas>
        <canvas id="id3f" width="150" height="50"></canvas>
        <canvas id="id3g" width="150" height="50"></canvas>
    </div>
    <br>
    <div id="id4"> <!-- 6 itens -->
        <canvas id="id4a" width="150" height="50"></canvas>
        <canvas id="id4b" width="150" height="50"></canvas>
        <canvas id="id4c" width="150" height="50"></canvas>
        <canvas id="id4d" width="150" height="50"></canvas>
        <canvas id="id4e" width="150" height="50"></canvas>
        <canvas id="id4f" width="150" height="50"></canvas>
    </div>
    <br>
    <div id="id5"> <!-- 2 itens -->
        <canvas id="id5a" width="150" height="50"></canvas>
        <canvas id="id5b" width="150" height="50"></canvas>
    </div>
    <br>
    <div id="id6"> <!-- 2 itens -->
        <canvas id="id6a" width="150" height="50"></canvas>
        <canvas id="id6b" width="150" height="50"></canvas>
    </div>
    <br>
    <div id="leds"> <!-- 6 itens -->
        <canvas id="led1" width="50" height="50"></canvas>
        <canvas id="led2" width="50" height="50"></canvas>
        <canvas id="led3" width="50" height="50"></canvas>
        <canvas id="led4" width="50" height="50"></canvas>
        <canvas id="led5" width="50" height="50"></canvas>
        <canvas id="led6" width="50" height="50"></canvas>
    </div>
    <br>
    <div id="id7"> <!-- 8 itens -->
        <canvas id="id7a" width="150" height="50"></canvas>
        <canvas id="id7b" width="150" height="50"></canvas>
        <canvas id="id7c" width="150" height="50"></canvas>
        <canvas id="id7d" width="150" height="50"></canvas>
        <canvas id="id7e" width="150" height="50"></canvas>
        <canvas id="id7f" width="150" height="50"></canvas>
        <canvas id="id7g" width="150" height="50"></canvas>
        <canvas id="id7h" width="150" height="50"></canvas>
    </div>

</body>



<script type="application/javascript">
    function draw() {

        // Id 1
        var id1a = document.getElementById('id1a');
        if (id1a.getContext) {
            var id1a = id1a.getContext("2d");
            id1a.fillStyle = "rgba(0, 0, 200, 0.5)";
            id1a.fillRect(0, 0, 150, 50);
        }

        var id1b = document.getElementById('id1b');
        if (id1b.getContext) {
            var id1b = id1b.getContext("2d");
            id1b.fillStyle = "rgba(155, 0, 200, 0.5)";
            id1b.fillRect(0, 0, 150, 50);
        }

        var id1c = document.getElementById('id1c');
        if (id1c.getContext) {
            var id1c = id1c.getContext("2d");
            id1c.fillStyle = "rgba(310, 0, 200, 0.5)";
            id1c.fillRect(0, 0, 150, 50);
        }

        var id1d = document.getElementById('id1d');
        if (id1d.getContext) {
            var id1d = id1d.getContext("2d");
            id1d.fillStyle = "rgba(198,36,36,0.5)";
            id1d.fillRect(0, 0, 150, 50);
        }

        var id1e = document.getElementById('id1e');
        if (id1e.getContext) {
            var id1e = id1e.getContext("2d");
            id1e.fillStyle = "rgb(255,0,0)";
            id1e.fillRect(0, 0, 150, 50);
        }

        var id1f = document.getElementById('id1f');
        if (id1f.getContext) {
            var id1f = id1f.getContext("2d");
            id1f.fillStyle = "rgba(239,37,37,0.5)";
            id1f.fillRect(0, 0, 150, 50);
        }


        // Id 2
        var id2a = document.getElementById('id2a');
        if (id2a.getContext) {
            var id2a = id2a.getContext("2d");
            id2a.fillStyle = "rgba(239,37,37,0.5)";
            id2a.fillRect(0, 0, 150, 50);
        }
        var id1b = document.getElementById('id1f');
        if (id1b.getContext) {
            var id1b = id1b.getContext("2d");
            id1b.fillStyle = "rgba(239,37,37,0.5)";
            id1b.fillRect(0, 0, 150, 50);
        }
        var id1b = document.getElementById('id1f');
        if (id1b.getContext) {
            var id1b = id1b.getContext("2d");
            id1b.fillStyle = "rgba(239,37,37,0.5)";
            id1b.fillRect(0, 0, 150, 50);
        }
        var id1b = document.getElementById('id1f');
        if (id1b.getContext) {
            var id1b = id1b.getContext("2d");
            id1b.fillStyle = "rgba(239,37,37,0.5)";
            id1b.fillRect(0, 0, 150, 50);
        }
        var id1b = document.getElementById('id1f');
        if (id1b.getContext) {
            var id1b = id1b.getContext("2d");
            id1b.fillStyle = "rgba(239,37,37,0.5)";
            id1b.fillRect(0, 0, 150, 50);
        }
        var id1b = document.getElementById('id1f');
        if (id1b.getContext) {
            var id1b = id1b.getContext("2d");
            id1b.fillStyle = "rgba(239,37,37,0.5)";
            id1b.fillRect(0, 0, 150, 50);
        }
        var id1b = document.getElementById('id1f');
        if (id1b.getContext) {
            var id1b = id1b.getContext("2d");
            id1b.fillStyle = "rgba(239,37,37,0.5)";
            id1b.fillRect(0, 0, 150, 50);
        }
        var id1b = document.getElementById('id1f');
        if (id1b.getContext) {
            var id1b = id1b.getContext("2d");
            id1b.fillStyle = "rgba(239,37,37,0.5)";
            id1b.fillRect(0, 0, 150, 50);
        }
    }
</script>



<style>
    canvas {
        display: block;
    }
</style>



