<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="rrr()">
<canvas id="ccc" width="500" height="500" style="background-color: #ee0000">
</canvas>
<script>
        function q(ctx , ponto){

            ctx.beginPath();
           // ctx.translate(0, ponto);
            ctx.fillRect(0, ponto, 20, 20);
        }

    function rrr() {
        console.log('start');
        let canvas = document.getElementById("ccc");
        let ctx = canvas.getContext("2d");

        for (let i=0 ; i<10 ;i++) {
            console.log(i);
            q(ctx, i*25)
        }

        ctx.beginPath();
        ctx.translate(250, 250);
        ctx.fillRect(-105, -105, 210, 210);
        let x = [0, 100, 100, 100, 0, -100, -100, -100]
        let y = [-100, -100, 0, 100, 100, 100, 0, -100]


        let n =0
        setInterval(function () {
            ctx.beginPath();
            ctx.fillRect(-105, -105, 210, 210);

            ctx.lineWidth = 10;
            ctx.moveTo(0, 0);
            ctx.lineTo(x[n], y[n]);
            ctx.strokeStyle = '#ffffff';
            ctx.stroke();

            n++;
            if (n>7) {n=0}
        }, 100)


    }
</script>

</body>
</html>