<html>
<head>
    <script type="application/javascript">
        function draw() {
            var canvas = document.getElementById("canvas");
            if (canvas.getContext) {
                var ctx = canvas.getContext("2d");

                        ctx.fillRect(10, 75, 2, 100);

                        ctx.moveTo(10, 10);
                        ctx.lineTo(100,50);
                        ctx.stroke();

                /*
                let n = false;
                setInterval(function () {

                    if (n) {
                        ctx.fillStyle = "rgb(200,0,0)";
                        ctx.fillRect(10, 10, 55, 50);

                        ctx.fillStyle = "rgb(200,0,0)";
                        ctx.fillRect(75, 10, 55, 50);

                        ctx.font = '48px serif';
                       // ctx.clearRect(10, 100, 600, 600);
                        ctx.fillText(new Date().toLocaleString(), 10, 100);
                        n = false;
                    } else {
                        ctx.clearRect(10, 10, 600, 600)
                        ctx.fillStyle = "rgb(0,2000,0)";
                        ctx.fillRect(10, 10, 55, 50);

                        ctx.fillStyle = "rgb(0,2000,0)";
                        ctx.fillRect(75, 10, 55, 50);

                        ctx.font = '48px serif';
                       // ctx.clearRect(10, 100, 600, 600);
                        ctx.fillText(new Date().toLocaleString(), 10, 100);
                        n = true
                    }
                    console.log(n);


                    //   ctx.fillStyle = "rgba(0, 0, 200, 0.5)";
                    //   ctx.fillRect(30, 30, 55, 50);
                }, 2000);
                */
            }
        }
    </script>
</head>
<body onload="draw();">
<canvas id="canvas" width="600" height="600"></canvas>
</body>
</html>